* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.table {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}

.table .cell {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(34, 21, 0, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell.fill {
    background: rgba(181, 121, 5, 0.22);
}
.wrapper {
    display: flex;
}
.wrapper p {
    margin-left: 50px;
}

button {
    margin-top: 30px;
}

